/*
* Plantilla básica | chendo.io | código 100% desde cero
  código gratis para ti.
  Felíz Navidad  :) y Próspero año nuevo!

* Basic Template by Chendo.io | code 100% from scratch
  free code for you.
  Merry Christmas :) and Happy New Year!

  Nota: Imágenes de fondo y planetas sacado de frontend mentor proyecto código abierto :)

  Important:
  Background images and planets taken from frontend mentor open source project :)

*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/tablet.jpg);  
    font-family: 'Poppins', sans-serif;
    background-position: fixed;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    font-size: 25px;
    overflow-x: hidden;
}
@media (min-width: 991px) {
    body {
        background-image: url(../img/home.jpg);
        background-position: fixed;
        background-repeat: no-repeat;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        height: 100vh;
    }
}
@media (max-width: 375px) {
   body {
    background-image: url(../img/phone.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
   }
}
img {
    max-width: 100%;
}
/*Header ===============*/
.cont-header {
    position: absolute;
    width: 100%;
    margin-top: -2em;
    
}
@media (min-width: 768px) {
   .cont-header {
       position: relative;
       margin: 0;
   }
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 0 1.5em;
    align-items: center;   
}
@media (min-width: 768px) {
    .header {        
        position: relative;
        display: block;
    }
}
.header h1 {
    color: #fff;
    letter-spacing: .1em;
}
@media (min-width: 768px) {
    .header h1 {
        position: relative;
        color: #fff;
        margin-left: 30px;
        letter-spacing: .1em;
    }
}
/*Img Hamburg =======*/
#hambur-img {
    width: 1.5em;
    height: 1.3em;
    right: 1em;
    cursor: pointer;
    position: fixed;
    z-index: 9999999;
    
}
@media (min-width: 768px) {
    .header #hambur-img {
        display: none;
    }
}

/**Nav**/
.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-image: url(../img/tablet.jpg);
    background-size: center center;
    background-repeat: no-repeat;
    position: fixed;
    right: -120%;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    
}
/** Menu Open Js ========**/
.menu-on {
    transition: .5s ease-in-out;
    right: 0;
}
/**==============**/
/*Navigation ====================*/
@media (min-width: 768px) {
    .navigation {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-image: linear-gradient(90deg, transparent, rgba(255,255,255,.1), transparent);
        max-width: 1200px;
        margin: 0 auto;
        height: 4em;
        right: 0;
    }
}
.navigation a {
    text-decoration: none;
    font-family: 'Raleway', monospace;
    text-transform: uppercase;
    letter-spacing: .5em;
    padding: .5em;
    margin-left: 1em;
    color: #fff;
}
.navigation a:hover {
    background-image: linear-gradient(90deg, transparent, rgba(0,0,0,.5), transparent);
}

.navigation .active{
    background-image: linear-gradient(90deg, transparent, rgba(0,0,0,.5), transparent);
    color: #c1c1c1;
}


/*contenedor menu*/
.contenedor {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 50px;
}

@media (min-width: 768px) {
    .contenedor {
       display: grid;
       grid-template-columns: 1fr 2fr;

       
    }
}
/*Img Planets =============*/
.img__moon--lunita {
    animation: 25s rotate linear infinite;
    -webkit-animation: 25s rotate linear infinite;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    margin-bottom: 2em;
    width: 10em;
}
@media (min-width: 768px) {
   .img__moon--lunita {
       width: 70%;
   }
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}
@-webkit-keyframes rotate {
    from {transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}
.cont__text-moon h2 {
    background-image: linear-gradient(90deg, transparent, rgba(0,0,0,.5), transparent);
    color: #fff;
    text-align: center;
}

.text__moon {
    color: #fff;
    font-weight: 100;
}

/**Contact===================**/
/*lunita contact ============*/
.mars {
    width: 60%;
    margin-bottom: 50px;
}
@media (min-width: 991px) {
    .mars {
        width: 50%;
        margin-left: 50px;
    }
}
/**==============================**/
/**Form Contact =============**/
.img__moon-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.7em;
}
@media (min-width: 991px) {
    .form-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 1em;
    padding: 1em;
    width: 100%;
    max-width: 30em;
}

@media (min-width: 991px) {
   .form {
       margin-top: -1em;
   }
}

.form input, textarea {
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid #fff;
    color: #ccc;
    border-radius: 1em;
    height: 3em;
    width: 100%;
    padding: 1em; 
    outline: none; 
}
label {
    color: #fff;
    align-self: flex-start;
    font-size: 17px;
    margin-left: 1em;
}
textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 4em;
    max-height: 7em;
    overflow: hidden;
}
/*Enviar ============================*/
#submit {
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid #fff;
    border-radius: 1em;
    font-family: sans-serif;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #fff;
    font-size: .8em;
    width: 10em;
    max-width: 100%;
    cursor: pointer;
    margin-top: 2em;
    align-self: baseline;
    transition: .5s;
    margin-right: 1em;
}
@media (min-width: 768px) {
    #submit {
        align-self: flex-end;
    }
}

#submit:hover {
    background-color: rgba(68, 30, 23, .5)
}
/**About ===========**/
.cont__about-moon {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 991px) {
    .cont__about-moon {
        display: grid;
        grid-template-columns: 1fr;
    }
   
}
.img__moon {
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin-top: 4em;
}
@media (max-width: 991px) {
   .img__moon {
    margin-top: 6em;
    margin-bottom: 2em;
   }
}

.img__moon-top {
    width: 40%;
    grid-column: 2;
    margin-top: -5em;
    margin-left: 1em;

}
.img__moon--about {
    grid-row: 2;
    width:400px;
    margin-top: -7em;
    margin-left: 3em;
}