* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    background-image: url(img/home.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.header h1 {
    color: #0000ff;
    margin-left: 30px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
}
.navigation a {
    text-decoration: none;
    color: #fff;
}
.navigation a:hover:nth-child(1) {
    color: #ff0000;
}
.navigation a:hover:nth-child(2) {
    color: #00ff00;
}
.navigation a:hover:nth-child(3) {
    color: #d8f002;
}

/*contenedor menu*/

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 30px;
    padding: 50px;
}

.img__moon--lunita {
    animation: 25s rotate linear infinite;
    -webkit-animation: 25s rotate linear infinite;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    border-radius: 50%;
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}
@-webkit-keyframes rotate {
    from {transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}

.text__moon {
    color: #fff;
    font-weight: 100;
}