/*-----------------------------------------------------------------------------------
    Name: Moon Site
    Theme URI: @chendito
    Description: Web Site - Portfolio - Chendo
    Author: @chendito - chendo : developer and web designer
    Author URI: http://chendo.io - https://chendito.com
    Github: https://github.com/chendito
    Youtube: https://youtube.com/chendito

//   Important:
//   Background images and planets taken from frontend mentor open source project :)
-----------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 767px) {
    body {
        background-image: url(../img/tablet.jpg);  
        font-family: 'Poppins', sans-serif;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        font-size: 25px;
        height: 100%;
        width: 100%;
    } 
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: .7em;
    text-shadow: 2px 2px 3px #000;
    color: #fff;
}
@media (min-width: 768px) {
    body {
        background-image: url(../img/home.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        user-select: none;
        font-family: 'Poppins', sans-serif;
        position: relative;
        font-size: 25px;
        height: 100%;
        width: 100%;
    }
}
@media (max-width: 375px) {
   body {
    background-image: url(../img/phone.jpg)center center 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
   }
}
/*<----Bars---->*/
/*<------------>*/
/*Navigation ====================*/
.navigation {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -webkit-backdrop-filter: saturate(50%) blur(100px);
    backdrop-filter: saturate(90%) blur(5px);
    background-color: rgba(255, 255, 255, .01);
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, .047) 100%, rgba(255, 255, 255, .01) 25%) 1 0 1 0;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    margin: 0 auto;
    top: 0;
    height: 4em;
    right: 0;
}
@media (max-width: 767px) {
    .navigation {
        position: fixed;
        right: 0;
        left: 0;
    }
    
}
.navigation a, .menu-btn{
    text-decoration: none;
    font-family: 'Raleway', monospace;
    text-transform: uppercase;
    letter-spacing: .5em;
    padding: .5em;
    margin-left: 1em;
    background-color: #fff;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}
.active {
    cursor: pointer;
}
.close {
    position: absolute;
    z-index: 999999;
}
.close i {
    padding: .5em;
    margin: 1.2vmax 0 0 1.2vmax;
    font-size: 1.5em;
    background-color: #fff;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
    cursor: pointer;
}
/*<-------------------------------->*/
.header  { 
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.header::before {
    content: ' ';
    display: block;
    position: absolute;
    background-color: var(--black);
    overflow-x: hidden;
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
}
@media (max-width: 768px) {
    .header::before { width: 100%;}
  }
/*end header ================>*/
/*<---------Main - Nav Content*/
.main-nav {
    transition: all .7s ease-in-out;
    width: 100%;
    height: 100%;
    position: fixed;
    right: -120%;
    top: 0;
    z-index: 3;
}
.main-nav::before {
    content: ' ';
    display: block;
    position: absolute;
    -webkit-backdrop-filter: saturate(50%) blur(30px);
    backdrop-filter: saturate(50%) blur(30px);
    background-color: rgba(255, 255, 255, 0.1);
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, .05) 100%, rgba(255, 255, 255, .05) 25%) 1 0 1 0;
    border-width: 1px;
    border-style: solid;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
/*Btn Open Close---------->*/
.open {
    right: 0;
}
/*<====0_0====>*/
/*<---------contenido wrapper img*/
.content-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}
@media (max-width: 768px) {
    .content-wrapper {
        width: 100%;
    }
    .menu-items {
        width: 100%;
        height: 100%;
    }
    .menu-item ul, li {
        width: 100%;
        height: 100%;
    }
    .menu-img {
        display: none;
    }
}
/*=======================*/
.items-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    background: transparent;
    position: absolute;
    padding: 7em;
    width: 44vmax;
    height: 100vh;
    z-index: 99999;
    top: 0;
    right: 0;
}
@media (max-width: 768px) {
    .items-wrapper {
        max-width: 100%;
        min-height: 100%;
        width: 100%;
        height: 100vh;
    }
}
/*Link menu----------->*/
.menu-items {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
}
.menu-item {
    display: inline-block;
}
.menu-item a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    text-shadow: 2px 2px 3px #000;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
    font-family:'Courier New', Courier, monospace;
    color: #fff;
    font-size: 2.7vw;
    padding-bottom: .1em;
    font-weight: 700;
    line-height: 1.25;
}
.menu-item a:hover, a:focus {
    background-size: 100% 1px;
}
@media (max-width: 768px) {
    .menu-item a {
        line-height: 0.5;
        font-size: 4vw;
    }
}
@media (max-width: 375px) {
    .menu-item a {
        font-size: 7vw;
    }
}
/*<---------end link menu*/
/*end main bar ======================================>*/
/*<-----Content animation bar nav*/
.menu-img {
    position: absolute;
    max-width: 100%;
    width: 100%;
    z-index: 13;
    left: 0;
}
.bg{
    position: absolute;
    width: calc(100% - 44vmax);
    height: 100vh;
    filter: grayscale(1);
    mix-blend-mode: difference;
}
.bg1{
    background: url(../img/1.png) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    transition: 1s ease-in-out;
}
.bg2{
    background: url(../img/2.png) no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transition: 1s ease-in-out;
}
.bg3{
    background: url(../img/3.png) no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transition: 1s ease-in-out;
}
.bg4{
    background: url(../img/4.png) no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transition: 1s ease-in-out;
}
/*<-------end animation nav bar-------->*/
/*<--------------------------------->*/
/*contenedor menu*/
main {
    height: 100vh;
}
.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5em;
}
@media (max-width: 767px){
    .contenedor {
        display: flex;
        flex-direction: column;
        margin-top: 8em;
        width: 100%;
    }
}
@media (max-width: 320px){
    .contenedor {
        margin-top: 14em;
    }
}
.cont__text-moon {
    width: 40%;
}
@media (max-width: 767px){
    .cont__text-moon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .cont__text-moon h2 {
        display: flex;
        flex-wrap: nowrap;
        font-size: 1em;
    }
    .cont__text-moon h3 {
        font-size: 3em;
    }
}
/*Img Planets =============*/
.container_luna {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 2;
  margin: 5em 1em 0 0;
  max-width: 100%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
  opacity: .8;
}
@media (max-width: 767px){
    .container_luna {
        margin: 1.7em 0 1.7em 0;
    }
}
@media (max-width: 767px) {
    .container_luna {
        width: 120px;
        height: 120px;
    }
}
/*<----------moon animated*/
.cirdown {
    position: relative;
    transform: translate(-505, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cirdown::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -.3em;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 50px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 1px 7px rgba(255, 255, 255, 0.1), 0 0 1px 13px rgba(255, 255, 255, 0.1);
    animation: animate 2s infinite ease-in-out;
    opacity: 1;
}
@media (max-width: 767px) {
    .cirdown::before {
        top: -.6em;
        width: 4em;
        height: 4em;
        border: 25px solid rgba(255, 255, 255, 0.4);
    } 
}
@keyframes animate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
/*end----------------->*/
h3 {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 5em;
}
.container_luna span {
    font-family: 'Courier New', Courier, monospace;
    color: #222;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2em;
}
@media (max-width: 767px) {
    .container_luna span {
        font-size: .7em;
    }
}
/*<-------------------->*/
.img__moon--lunita, .aschen {
    animation: 25s rotate linear infinite;
    -webkit-animation: 25s rotate linear infinite;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
}
.cont_luna {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.cont_luna img {
    width: 300px;
    height: 300px;
    opacity: .3;
}
.img__moon--lunita {
    position: fixed;
    top: 30%;
    right: 0;
    left: 10%;
    bottom: 0;
    z-index: -1;
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}
@-webkit-keyframes rotate {
    from {transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}
.cont__text-moon h2 {
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}
@media (max-width: 768px) {
    .cont__text-moon h2 {
        backdrop-filter: none;
        background-image: none;
    }
}

.text__moon {
    color: #fff;
    font-weight: 100;
}
/* .background {

} */
.container_back {
    position: relative;
    width: 100%;
    height: 100%;
}
.container_back::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .05);
}
@media (max-width: 767) {
    .container_back {
        position:inherit;
    }
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    z-index: -1; 
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    margin-top: 7em;
    padding: 1em;
    width: 100%;
    max-width: 500px;
    user-select: none;
}
.form input, textarea, button {
    -webkit-backdrop-filter: saturate(120%) blur(10px);
    backdrop-filter: saturate(120%) blur(5px);
    background-color: rgba(255, 255, 255, .01);
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, .047) 100%, rgba(255, 255, 255, .01) 25%) 1 0 1 0;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7) inset;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.9) inset;
    color: #ccc;
    border-radius: 1em;
    border: none;
    resize: none;
    text-transform: uppercase;
    z-index: 1;
    height: 3em;
    width: 100%;
    padding: 1em; 
    outline: none; 
}
label {
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    align-self: flex-start;
    font-size: .7em;
    margin-left: .5em;
}
textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 7em;
    max-height: 7em;
    overflow: hidden;
}
/*Enviar ============================*/
#submit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    box-shadow: none;
    font-size: .5em;
    width: 7em;
    max-width: 100%;
    cursor: pointer;
    border: 1px groove rgba(255, 255, 255, .1);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    text-shadow: 1px 1px 1px #000;
    margin-top: 1em;
}
@media (min-width: 768px) {
    #submit {
        align-self: flex-end;
    }
}